Incorrect minimum playlist version when using EXT-X-MAP

# Description
The library fails to output a valid `EXT-X-VERSION` for playlists using fmp4 segments. When `EXT-X-MAP` is included without the `EXT-X-I-FRAMES-ONLY` tag, the version doesn't get set beyond 3 unless other functionality is used that bumps it higher -- though no code in the repo currently sets it higher than 5. This causes Apple's media player to fail parsing and throw `CoreMediaErrorDomain Code=-12642`.

# Steps to reproduce
1. Create a Media Playlist utilizing fmp4 segments + ensure a map file is added to the playlist (forcing use of the `EXT-X-MAP` tag)
2. Omit the `EXT-X-I-FRAMES-ONLY` tag
3. Generate the playlist and observe the version is less than 6

# Specification
[RFC 8216 Section 4.3.2.5](https://www.rfc-editor.org/info/rfc8216/#section-4.3.2.5) explicitly requires version 6 for this scenario:
```
   Use of the EXT-X-MAP tag in a Media Playlist that contains the EXT-
   X-I-FRAMES-ONLY tag REQUIRES a compatibility version number of 5 or
   greater.  Use of the EXT-X-MAP tag in a Media Playlist that DOES NOT
   contain the EXT-X-I-FRAMES-ONLY tag REQUIRES a compatibility version
   number of 6 or greater.
```

# Relevant code
None of the code currently evaluates the version beyond 5. The missing version logic can be traced here:[/-]
> [Repository search for version calculation logic](https://github.com/search?q=repo%3AEyevinn%2Fhls-m3u8+language%3Ago+EXT-X-VERSION&type=code)